* {
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
  color: #000000;
}
body {
  margin: 0;
  font-family: 'Comic Sans MS';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
}
